.row.translator-row
  .col-sm-6
    .row.language-row
      .col-6
        .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
          %label.btn.btn-outline-secondary.btn-sm.active#en-button
            %input#en-check{:autocomplete => "off", :checked => "checked", :name => "input-language", :type => "radio", value: "en"}/
            = image_tag "en.png", size: '15x10'
            English
          %label.btn.btn-outline-secondary.btn-sm#kh-button
            %input#kh-check{:autocomplete => "off", :name => "input-language", :type => "radio", value: "kh"}/
            = image_tag "kh.png", size: '15x10'
            Khmer
      .col-6.text-right
        %button.btn.btn-outline-secondary.btn-sm{:type => "button", id: 'change-language'}
          %i.fa.fa-exchange

    %textarea.form-control.language-input{:rows => "6", id: "first-textarea"}

  .col-sm-6
    .row.language-row
      .col-sm-12
        %button.btn.btn-secondary.btn-sm{:type => "button", id: 'output-language'}
          = image_tag "kh.png", size: '15x10'
          Khmer
        %button.btn.btn-outline-secondary.btn-sm{:type => "button", id: "copy-button", "data-toggle" =>"tooltip", "data-placement" => "top", title: "Copy to Clipboard"}
          %i.fa.fa-clipboard
          Copy
        
    %textarea.form-control.language-input{:rows => "6", id: "second-textarea", disabled: ""}