body[id='homepage_index']{
  .translator-row{
    margin-top: 2.5rem;

    .language-input{
      resize: none;
    }

    #first-textarea{
      margin-bottom: 15px;
    }

    .language-row{
      margin-bottom: 5px;
    }
  }
  
  .title-dep{
    margin-bottom: 2px;
  }
}