%nav.navbar.navbar-expand-lg.navbar-dark.bg-secondary
  = link_to root_url, class: 'navbar-brand' do
    = image_tag "icon.png", class: "d-inline-block align-top", size: "30x30"
    Chronos Translator
    (English
    %i.fa.fa-exchange
    ភាសាខ្មែរ)

  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
    
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          %i.fa.fa-laptop
          NIPTICT CS Family